<div class="sidebar">
  <ul class="main-menu">
    <%- partial('partials/main_menu', { context: 'sidebar' }) %>
  </ul>
</div>

<div id="hero">
  <div class="inner">
    <div class="left">
      <img class="hero-logo" src="<%- url_for("/images/sanskritnotes_logo.png") %>">
    </div><div class="right">
      <h2 class="vue">Sanskrit Notes संस्कृत टिप्पणी</h2>
      <h1>
        A Modern Introduction<br>
        to the ancient Language
      </h1>
      <p>
        <a class="button" href="<%- url_for("/v2/api/") %>">GET STARTED</a>
        <a class="button white" href="https://github.com/sanskritnotes/sanskritnotes.com" target="_blank">GITHUB</a>
      </p>
    </div>
  </div>
</div>

<div id="highlights">
  <div class="inner">
    <div class="point">
      <h2>Approachable</h2>
      <p>Read the guide and start learning the divine language!</p>
    </div>

    <div class="point">
      <h2>Comprehensive</h2>
      <p>Useful for beginners as well as advanced learners.</p>
    </div>

    <div class="point">
      <h2>Quick</h2>
      <p>
        Easy glance at abbreviations and rules of the language.
      </p>
    </div>
  </div>
</div>

<!-- <div id="sponsors">
  <div class="inner">
    <h3>PROUDLY SPONSORED BY</h3>
    <%- partial('partials/sponsors') %>
    <br>
    <a class="become-sponsor button white" href="<%- url_for("/support-vuejs/") %>">Become a Backer</a>
  </div>
</div> -->

<div id="footer">
  <!-- Released under the <a href="https://opensource.org/licenses/MIT" target="_blank">MIT License</a><br> -->
  <!-- Copyright &copy; 2014-<%- new Date().getFullYear() %> Ram Sharma -->
  Feel free to send a pull request!
</div>

<script>
var topScrolled = false
window.addEventListener('scroll', function () {
  if (window.pageYOffset > 165 && !topScrolled) {
    topScrolled = true
    document.getElementById('mobile-bar').classList.remove('top')
  } else if (window.pageYOffset <= 165 && topScrolled) {
    topScrolled = false
    document.getElementById('mobile-bar').classList.add('top')
  }
})
</script>
